h1
{
    color: brown;
    
    font-size: larger;
    font-family: cursive;
    text-shadow: darkgrey;
    text-align: left;
    
}
span{
    background-color: antiquewhite;
    text-align: center;
    

}
#div1
{
    margin-bottom: 100px;
    margin-top: -300px; ;
    margin-right: 100px;
    margin-left: 350px;
}
.image
{
    height: 140px;
    width: 140px;
    border: 15px;
    border-radius: 70px;
}
.heading
{
    letter-spacing: 3px;
    font-style: italic;
    color: darkred;
}
.skill
{
    display: inline-block;
    padding: 5px;
    background-color:bisque;
    margin: 10px;
    border-radius: 5px;
}